body {
    font-family: sans-serif;
}
header{background-color:skyblue;
padding:10px;
border-radius: 5px;}
header a href {background-color:white;}
h1{text-align: center;color:navy;
background-color: skyblue;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius: 5px;}
footer{background-color: grey;border-radius: 1px; border-style:groove;}
.dx{border:solid purple;border-radius: 10px;}
.ds{border:solid purple;border-radius: 10px}
.dg{border:solid purple;border-radius: 10px}
.df{border:solid purple;border-radius: 10px}
